{{ partial "header.html" . }}

{{ $baseUrl := .Site.BaseURL }}
<!--
<section class="main post non-narrow zero-top-spacing">
    <div class="container">
        <div class="content">
            <div class="front-matter">
                <div class="title-container">
                    {{ partial "page-heading" . }}
                    <div class="initials"><a href="{{ .Site.BaseURL }}">{{ .Site.Params.Initials }}</a></div>
                </div>
                <div class="meta">
                    {{ if and .Site.Params.dateformfull .Site.Params.dateform }}
                    <div class="date" title='{{ .Date.Format .Site.Params.dateformfull }}'>{{ .Date.Format .Site.Params.dateform }}</div>
                    {{ else }}
                    <div class="date" title='{{ .Date.Format "Mon Jan 2 2006 15:04:05 MST" }}'>{{ .Date.Format "Jan 2, 2006" }}</div>
                    {{ end }}
                    {{ if not .Site.Params.noshowreadtime }}
		    <div class="reading-time"><div class="middot"></div>{{ i18n "readingTime" .ReadingTime }}</div>
                    {{ end }}
                </div>
            </div>
            <div class="markdown">
                {{ .Content }}
                <br>
		<p class="back-to-posts"><a href="/blog/">{{ i18n "backToPosts" }}</a></p>
            </div>
            <br>
            <div class="disqus">
                {{ template "_internal/disqus.html" . }}
            </div>
            {{ if .Site.Params.gitalk }}
            <div id="gitalk-container"></div>
            <script type="text/javascript">
                const gitalk = new Gitalk({
                  clientID: "{{ .Site.Params.gitalk_clientID }}",
                  clientSecret: "{{ .Site.Params.gitalk_clientSecret }}",
                  repo: "{{ .Site.Params.gitalk_repo }}",
                  owner: "{{ .Site.Params.gitalk_owner }}",
                  admin: {{ .Site.Params.gitalk_admin }},
                  // facebook-like distraction free mode
                  distractionFreeMode: true
                })
                gitalk.render('gitalk-container')
            </script>
            {{ end }}
        </div>
    </div>
</section>
-->
<div class="kotha-default-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <article class="single-blog">
                    <!-- featured-image -->
                    {{if isset .Params "featured_image" }}
                        {{ $featuredImage := index .Params "featured_image" }}
                        {{ with .Params.featured_text }}<span class="sticky-status">{{ . }}</span>{{ end }}

                        <div class="post-thumb">
                            <a href="{{ .Permalink }}"><img src="{{ $featuredImage }}" alt="{{ .Title }}"></a>
                        </div>

                    {{end}}
                    <div class="post-content">
                        <div class="entry-header text-center text-uppercase">
                            {{ if isset .Params "categories" }}
      

                            {{ range .Params.categories }}<a class="post-cat" href="{{ $baseUrl }}/categories/{{ . | urlize }}">{{ . }}</a>{{ end }}
                            {{ end }}

                            <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                        </div>
                        <div class="entry-content">
                            {{ .Content }}
                            
                        </div>

                        <div class="post-meta">
                            <ul class="pull-right list-inline social-share">
                                {{partial "social" .}}
                            </ul>
                        </div>
                    </div>
                </article>
                {{ partial "author_content" . }}
                <!--
                <div class="row">
                    <div class="col-md-6">
                        <div class="single-blog-box">
                            <a href="#">
                                <img src="assets/images/blog-next-1.jpg" alt="">
                                <div class="overlay">
                                    <div class="promo-text">
                                        <p><i class=" pull-left fa fa-angle-left"></i></p>
                                        <h5>A Good Thought Never be false</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single-blog-box">
                            <a href="#">
                                <img src="assets/images/blog-next-2.jpg" alt="">
                                <div class="overlay">
                                    <div class="promo-text">
                                        <p><i class="pull-right fa fa-angle-right"></i></p>
                                        <h5>The Reason Why Everyone Love Hill</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                -->
                <!--related post carousel-->
                <!--
                <div class="related-post-carousel">
                    <div class="related-heading">
                        <h4>You might also like</h4>
                    </div>
                    <div class="related-post-carousel-items">
                        <div class="single-item">
                            <a href="#">
                                <img src="assets/images/p-1.jpg" alt="">
                                <h4>Lorem ipsum dolor sit amet,</h4>
                            </a>
                        </div>
                        <div class="single-item">
                            <a href="#">
                                <img src="assets/images/p-2.jpg" alt="">
                                <h4>Just Wondering at Beach</h4>
                            </a>
                        </div>
                        <div class="single-item">
                            <a href="#">
                                <img src="assets/images/p-3.jpg" alt="">
                                <h4>Nonumy eirmod tempor invidunt</h4>
                            </a>
                        </div>
                        <div class="single-item">
                            <a href="#">
                                <img src="assets/images/p-1.jpg" alt="">
                                <h4>Justo duo dolores et ea rebum</h4>
                            </a>
                        </div>
                        <div class="single-item">
                            <a href="#">
                                <img src="assets/images/p-2.jpg" alt="">
                                <h4>Duo dolores justo t ea rebum</h4>
                            </a>
                        </div>
                        <div class="single-item">
                            <a href="#">
                                <img src="assets/images/p-3.jpg" alt="">
                                <h4>Duo dolores justo t ea rebum</h4>
                            </a>
                        </div>
                    </div>
                </div>
                -->
                
                <div class="comment-area">
                    <!--
                    <div class="comment-heading">
                        <h3>3 Thoughts</h3>
                    </div>
                -->
                    {{ partial "disqus" .}}
                    
                    
                </div>
                
                <!--leave comment-->
                <!--
                <div class="leave-comment">
                    <h4>Leave a reply</h4>
                    <form class="form-horizontal contact-form"   method="post" action="#">
                        <div class="form-group">
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
                            </div>
                            <div class="col-md-6">
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="text" class="form-control" id="subject" name="subject" placeholder="Website url">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <textarea class="form-control" rows="6" name="message" placeholder="Write Massage" required></textarea>
                            </div>
                        </div>
                        <button type="submit" class="btn send-btn">Post Comment</button>
                    </form>
                </div>          
                -->
            
            </div>
            {{ partial "lateral" .}}
        </div>
    </div>
</div>


{{ partial "footer.html" . }}
