{{ if isset .Params "author" }}
                {{ $author := index .Site.Data.authors .Params.author }}

                
                <div class="top-comment">
                    <img src="{{ $author.avatar }}" class="pull-left img-circle" alt="">
                    <h4><a href="{{ $author.url }}">{{ $author.name }}</a></h4>
                    <p>{{ $author.bio }}</p>
                    <!--
                        TODO: Mejorar el perfil del autor
                    <ul class="list-inline social-share">
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-pinterest"></i></a></li>
                        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                        <li><a href=""><i class="fa fa-instagram"></i></a></li>
                    </ul>
                    -->
                </div>
                {{ end }}