<ul class="pull-left list-inline author-meta">
                                <li class="author">
                                    Por <a href="/author/{{if isset .Params "author_id" }}{{index .Params "author_id"}} {{else}}cloudnativemx {{end}}">{{if isset .Params "author_name" }} {{ index .Params "author_name" }} {{else}} Cloud Native MX {{end}}.</a>
                                </li>
                                <li class="date">{{ .Date.Format "Mon, 2 Jan 2006" }}</li>

                            </ul>