<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <!-- Document Settings -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- Page Title -->
    <title>
        {{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
        {{ if eq $url "/" }}
    {{ .Site.Title }}
{{ else }}
    {{ if .Params.heading }} {{ .Params.heading }} {{ else }} {{ .Title }} {{ end }}
{{ end }}
    </title>
    <!-- Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i%7cOswald:300,400,500,600,700%7cPlayfair+Display:400,400i,700,700i"
        rel="stylesheet">
    <!-- Styles -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/slick-theme.css">
    <link rel="stylesheet" href="/assets/css/slick.css">
    <link rel="stylesheet" href="/style.css">
    <!-- HTML5 shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.js"></script>
    <script src="/assets/js/respond.js"></script>
    <![endif]-->
</head>
<body>
<header class="kotha-menu marketing-menu">
    <nav class="navbar  navbar-default">
        <div class="container">
            <div class="menu-content">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#myNavbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="top-social-icons list-inline pull-right">
                        {{ partial "social.html" . }}
                        
                        <!--
                        <li class="top-search">
                            <a href="#" class="sactive">
                                <i class="fa fa-search"></i>
                            </a>
                        </li>
                        -->
                    </ul>
                    <ul class="nav navbar-nav text-uppercase pull-left">
                        <!--
                        <li class="dropdown">
                            <a href="/" class="dropdown-toggle" data-toggle="dropdown"
                               role="button"
                               aria-haspopup="true" aria-expanded="false">Home</a>
                            <ul class="dropdown-menu">
                                <li class="active"><a href="index.html">Home Default</a></li>
                                <li class=""><a href="index-feminine.html">Home Feminine</a></li>
                            </ul>
                        </li>
                        -->
                        <li><a href="/">Home</a></li>
                        <li><a href="/podcast/">Podcast</a></li>
                        <li><a href="/about-us/">Nosotros</a></li>
                        <li><a href="/contact/">Contacto</a></li>
                    </ul>
                </div>
                <div class="show-search">
                    <form role="search" method="get" id="searchform" action="#">
                        <input type="text" placeholder="Search and hit enter..." name="s" id="s">
                    </form>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="kotha-logo text-center">
        <h1><a href="/"><img src="{{ .Site.Params.logo }}" alt="{{ .Site.Title }}"></a></h1>
    </div>
</header>


<!--
<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body lang="{{ .Site.Params.lang }}">

<header class="kotha-menu marketing-menu">
  <nav class="navbar  navbar-default">
    <div class="container">
      <div class="menu-content">
        
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                  data-target="#myNavbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="top-social-icons list-inline pull-right">
            {{ if .Site.Params.facebook }}
                <li><a href="{{ .Site.Params.facebook }}" target="_blank" rel="noopener"><i class="fa fa-facebook"></i></a></li>
            {{ end }}
            
            {{ if .Site.Params.twitter }}
                <li><a href="{{ .Site.Params.twitter }}" target="_blank" rel="noopener"><i class="fa fa-twitter"></i></a></li>
            {{ end }}

            {{ if .Site.Params.instagram }}
                <li><a href="{{ .Site.Params.instagram }}" target="_blank" rel="noopener"><i class="fa fa-instagram"></i></a></li>
            {{ end }}

            {{ if .Site.Params.pinterest }}
                <li><a href="{{ .Site.Params.pinterest }}" target="_blank" rel="noopener"><i class="fa fa-pinterest"></i></a></li>
            {{ end }}

            {{ if .Site.Params.gplus }}
                <li><a href="{{ .Site.Params.gplus }}" target="_blank" rel="noopener"><i class="fa fa-google-plus"></i></a></li>
            {{ end }}

            {{ if .Site.Params.github }}
                <li><a href="{{ .Site.Params.github }}" target="_blank" rel="noopener"><i class="fa fa-github"></i></a></li>
            {{ end }}        

            {{ if .Site.Params.calendar }}
                <a href="{{ .Site.Params.calendar }}" target="_blank" rel="noopener"><img class="icon" src="/img/calendar.svg" alt="calendar" /></a>
            {{ end }}

            {{ if .Site.Params.mastodon }}
                <a href="{{ .Site.Params.mastodon }}" target="_blank" rel="noopener"><img class="icon" src="/img/mastodon.svg" alt="mastodon" /></a>
            {{ end }}

            {{ if .Site.Params.linkedin }}
                <a href="{{ .Site.Params.linkedin }}" target="_blank" rel="noopener"><img class="icon" src="/img/linkedin.svg" alt="linkedin" /></a>
            {{ end }}        
                
            {{ if .Site.Params.px500 }}
                <a href="{{ .Site.Params.px500 }}" target="_blank" rel="noopener"><img class="icon" src="/img/500px.svg" alt="500px" /></a>
            {{ end }}

            {{ if .Site.Params.soundcloud }}
                <a href="{{ .Site.Params.soundcloud }}" target="_blank" rel="noopener"><img class="icon" src="/img/soundcloud.svg" alt="soundcloud" /></a>
            {{ end }}

            {{ if .Site.Params.email }}
                <a href="mailto:{{ .Site.Params.email }}"><img class="icon" src="/img/email.svg" alt="email" /></a>
            {{ end }}

            {{ if .Site.RSSLink }}
                <li><a href="{{ .Site.RSSLink }}" target="_blank" rel="noopener"><img class="icon" src="/img/rss.svg" alt="rss" /></a></li>
            {{ end }}

            {{ if .Site.Params.search }}
                <li class="top-search">
                    <a href="#" class="sactive">
                        <i class="fa fa-search"></i>
                    </a>
                </li>
            {{ end }}

            
          </ul>
          <ul class="nav navbar-nav text-uppercase pull-left">
            <li class="dropdown">
              <a href="index.html" class="dropdown-toggle" data-toggle="dropdown"
                 role="button"
                 aria-haspopup="true" aria-expanded="false">Home</a>
              <ul class="dropdown-menu">
                <li class="active"><a href="index.html">Home Default</a></li>
                <li class=""><a href="index-feminine.html">Home Feminine</a></li>
              </ul>
            </li>
            <li><a href="about-me.html">Sobre la comunidad</a></li>
            <li><a href="contact.html">Contacto</a></li>
          </ul>
        </div>
        <div class="show-search">
          <form role="search" method="get" id="searchform" action="#">
            <input type="text" placeholder="Search and hit enter..." name="s" id="s">
          </form>
        </div>
      </div>
    </div>
    
  </nav>
  <div class="kotha-logo text-center">
    <h1><a href="index.html"><img src="assets/images/kotha-logo.png" alt="kothPro"></a></h1>
  </div>
</header>


<section class="header">
    <div class="container">
        <div class="content">
            {{ if .Site.Params.gravatar }}
            <a {{ printf "href=%q" ("/" | relLangURL) | safeHTMLAttr }}><img class="avatar" src="https://gravatar.com/avatar/{{ .Site.Params.gravatar }}?s=50" rcset="https://gravatar.com/avatar/{{ .Site.Params.gravatar }}?s=100 2x, https://gravatar.com/avatar/{{ .Site.Params.gravatar }}?s=150 3x, https://gravatar.com/avatar/{{ .Site.Params.gravatar }}?s=200 4x"></a>
            {{ else if .Site.Params.avatar }}
                {{ $.Scratch.Add "srcset" (slice (printf "%s 1x" (.Site.Params.avatar|absURL))) }}
                {{ $directory := replaceRE "^(.*)/[^/]+$" "$1" .Site.Params.avatar }}
                {{ $basename := replaceRE "^.*/([^./]+).*$" "$1" .Site.Params.avatar }}
                {{ $extension := replaceRE "^.*/[^.]+\\.([^.]+)$" "$1" .Site.Params.avatar }}
                {{ range (readDir (printf "static/%s" $directory)) }}
                    {{ if findRE (printf "^%s-\\d+x\\.%s$" $basename $extension) .Name }}
                        {{ $.Scratch.Add "srcset" (slice (replaceRE (printf "^(%s)-(\\d+x)\\.(%s)$" $basename $extension) (printf "%s/$1-$2.$3 $2" ($directory|absURL)) .Name)) }}
                    {{ end }}
                {{ end }}
                {{ $srcset := delimit ($.Scratch.Get "srcset") "," }}
                <a {{ printf "href=%q" ("/" | relLangURL) | safeHTMLAttr }}><img class="avatar" src="/{{ .Site.Params.avatar }}" {{ printf "srcset=%q" $srcset | safeHTMLAttr }}></a>
            {{ end }}
            <a href="/"><div class="name">{{ .Site.Params.author }}</div></a>
            {{ if .Site.Params.selfintro }}
              <h3 class="self-intro">{{ .Site.Params.selfintro }}</h3>
            {{ end }}
            <nav>
                <ul>
                    {{ range .Site.Menus.main }}
                        <li class="nav-{{ .Identifier }}"><a href="{{ .URL | absLangURL }}">{{ .Pre }}<span>{{ .Name }}</span></a></li>
                    {{ end }}
                </ul>
            </nav>
        </div>
    </div>
</section>

<section class="icons">
    <div class="container">
        <div class="content">

        
        {{ if and .Site.Params.i18n_flags .IsTranslated }}
            {{ range .Translations }}
                <a href="{{ .Permalink }}"><img class="icon flag" src="/img/flags/{{ .Lang }}.svg"></a>
            {{ end }}
        {{ end }}
        </div>
    </div>
</section>
-->
