{{ partial "socialItem.html" (dict "socialSiteUrl" .Site.Params.youtube "socialSiteIcon" "fa-youtube") }}
{{ partial "socialItem.html" (dict "socialSiteUrl" .Site.Params.facebook "socialSiteIcon" "fa-facebook") }}
{{ partial "socialItem.html" (dict "socialSiteUrl" .Site.Params.twitter "socialSiteIcon" "fa-twitter") }}
{{ partial "socialItem.html" (dict "socialSiteUrl" .Site.Params.instagram "socialSiteIcon" "fa-instagram") }}
{{ partial "socialItem.html" (dict "socialSiteUrl" .Site.Params.gplus "socialSiteIcon" "fa-google-plus") }}
{{ partial "socialItem.html" (dict "socialSiteUrl" .Site.Params.github "socialSiteIcon" "fa-github") }}
{{ partial "socialItem.html" (dict "socialSiteUrl" .Site.Params.slack "socialSiteIcon" "fa-slack") }}
{{ partial "socialItem.html" (dict "socialSiteUrl" .Site.Params.meetup "socialSiteIcon" "fa-meetup") }}
{{ partial "socialItem.html" (dict "socialSiteUrl" .Site.Params.soundcloud "socialSiteIcon" "fa-soundcloud") }}
{{ partial "socialItem.html" (dict "socialSiteUrl" .Site.Params.spotify "socialSiteIcon" "fa-spotify") }}