{{ partial "header.html" . }}

{{ $baseUrl := .Site.BaseURL }}

<div class="kotha-default-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div id="primary" class="content-area padding-content white-color">
          <main id="main" class="site-main"  >

            <section class="error-404 not-found text-center">
              <h2 class="404">404</h2>
              <p class="lead">!Lo sentimos¡ No hemos encontrado lo que intentas acceder.</p>
              <!--
              <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                  <form role="search" method="get" id="searchform" action="#">
                    <div>
                      <input type="text" placeholder="Search and hit enter..." name="s" id="s">
                    </div>
                  </form>
                  <p class="go-back-home"><a href="index.html">
                    Back to Home Page</a></p>
                </div>
              </div> -->
            </section><!-- .error-404 -->
          </main><!-- #main -->
        </div><!-- #primary -->
            </div>
            {{ partial "lateral" .}}
        </div>
    </div>
</div>


{{ partial "footer.html" . }}
