{{ partial "header" . }}

<div class="kotha-default-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                {{ $paginator := .Paginate (where .Data.Pages "Type" "blog") }}
                {{ range $paginator.Pages }}


                <article class="single-blog">
                    <!-- featured-image -->
                    {{if isset .Params "featured_image" }}
                        {{ $featuredImage := index .Params "featured_image" }}
                        {{ with .Params.featured_text }}<span class="sticky-status">{{ . }}</span>{{ end }}

                        <div class="post-thumb">
                            <a href="{{ .Permalink }}"><img src="{{ $featuredImage }}" alt="{{ .Title }}"></a>
                        </div>

                    {{end}}
                    
                    <div class="post-content">
                        <div class="entry-header text-center text-uppercase">
                            <a href="" class="post-cat">Travel</a>
                            <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                        </div>
                        <div class="entry-content">
                            <p>{{ .Summary }}</p>
                        </div>
                        <div class="continue-reading text-center text-uppercase">
                            <a href="{{ .Permalink }}">{{ with .Site.Params.continueReadingText }}{{ . }}{{ else }}Read On{{ end }} &rarr;</a>
                        </div>
                        <div class="post-meta">
                            <ul class="pull-left list-inline author-meta">
                                <li class="author">
                                    Por <a href="/author/{{if isset .Params "author_id" }}{{index .Params "author_id"}} {{else}}cloudnativemx {{end}}">{{if isset .Params "author_name" }} {{ index .Params "author_name" }} {{else}} Cloud Native MX {{end}}.</a>
                                </li>
                                <li class="date">{{ .Date.Format "Mon, 2 Jan 2006" }}</li>

                            </ul>
                            <ul class="pull-right">
                                <li class="date"> {{ if not .Site.Params.disableReadingTime }} {{ .ReadingTime }} minute read {{ end }}</li>
                            </ul>
                        </div>
                    </div>
                </article>
                {{ end }}
                
                <div class="post-pagination  clearfix">
                    <ul class="pagination text-left">
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="kotha-sidebar">
                    <aside class="widget about-me-widget  text-center">
                        <div class="about-me-content">
                            <div class="about-me-img">
                                <img src="/assets/images/me.jpg" alt="" class="img-me img-circle">
                                <h2 class="text-uppercase">Kotha Smith</h2>
                                <p>Kotha Smith is an enthusiastic and passionate Story Teller. He loves to do different
                                    home-made things
                                    and share to the world.</p>
                            </div>
                        </div>
                        <div class="social-share">
                            <ul class="list-inline">
                                <li><a class="s-facebook" href=""><i class="fa fa-facebook"></i></a></li>
                                <li><a class="s-twitter" href=""><i class="fa fa-twitter"></i></a></li>
                                <li><a class="s-google-plus" href=""><i class="fa fa-google-plus"></i></a></li>
                                <li><a class="s-linkedin" href=""><i class="fa fa-linkedin"></i></a></li>
                                <li><a class="s-instagram" href=""><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </aside>
                    <aside class="widget news-letter-widget">
                        <h2 class="widget-title text-uppercase text-center">Get Newsletter</h2>
                        <form action="#">
                            <input type="email" placeholder="Your email address" required>
                            <input type="submit" value="Subscribe Now"
                                   class="text-uppercase text-center btn btn-subscribe">
                        </form>
                    </aside>
                    <aside class="widget widget-popular-post">
                        <h3 class="widget-title text-uppercase text-center">Popular Posts</h3>
                        <ul>
                            <li>
                                <a href="#" class="popular-img"><img src="/assets/images/p-1.jpg" alt="">
                                </a>
                                <div class="p-content">
                                    <h4><a href="#" class="text-uppercase">Ice-cream with chalk taste </a></h4>
                                    <span class="p-date">February 15, 2017 </span>
                                </div>
                            </li>
                        </ul>
                    </aside>
                    <aside class="widget latest-post-widget">
                        <h2 class="widget-title text-uppercase text-center">Latest Posts</h2>
                        <ul>
                            <li class="media">
                                <div class="media-left">
                                    <a href="#" class="popular-img"><img src="/assets/images/recent-1.jpg" alt="">
                                    </a>
                                </div>
                                <div class="latest-post-content">
                                    <h2 class="text-uppercase"><a href="#">A Marine Dive From Sky</a></h2>
                                    <p>May 27, 2017</p>
                                </div>
                            </li>
                        </ul>
                    </aside>
                    <!--
                    <aside class="widget insta-widget">
                        <h2 class="widget-title text-uppercase text-center">INSTAGRAM FEED</h2>
                        <div class="instagram-feed">
                            <div class="single-instagram">
                                <a href="">
                                    <img src="/assets/images/ft-insta-1.jpg" alt="">
                                </a>
                                <div class="insta-overlay">
                                    <div class="insta-meta">
                                        <ul class="list-inline text-center">
                                            <li><a href=""><i class="fa fa-heart-o"></i></a> 325</li>
                                            <li><a href=""><i class="fa fa-comment-o"></i></a> 20</li>
                                        </ul>
                                    </div>
                                </div>
                                <a href="" class="insta-link"></a>
                            </div>
                            <div class="single-instagram">
                                <a href="">
                                    <img src="/assets/images/ft-insta-6.jpg" alt="">
                                </a>
                                <div class="insta-overlay">
                                    <div class="insta-meta">
                                        <ul class="list-inline text-center">
                                            <li><a href=""><i class="fa fa-heart-o"></i></a> 325</li>
                                            <li><a href=""><i class="fa fa-comment-o"></i></a> 20</li>
                                        </ul>
                                    </div>
                                </div>
                                <a href="" class="insta-link"></a>
                            </div>
                        </div>
                    </aside>
                    -->
                    <!--
                    <aside class="widget add-widget">
                        <h2 class="widget-title text-uppercase text-center">Advertisement</h2>

                        <div class="add-image">
                            <a href=""><img src="/assets/images/add-image.jpg" alt=""></a>
                        </div>
                    </aside>
                    -->
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="footer-widget-row">
            <div class="footer-widget contact-widget">
                <div class="widget-title">
                    <img src="/assets/images/kotha-white-logo.png" alt="">
                </div>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                    ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eaccusam et justo duo
                    dolores eteem.</p>
                <div class="address">
                    <h4 class="text-uppercase">contact Info</h4>
                    <p> 239/2 NK Street, DC, USA</p>
                    <p> Phone: +123 456 78900</p>
                    <a href="mailto:theme@kotha.com">theme@kotha.com</a>
                </div>
            </div>
            <div class="footer-widget twitter-widget">
                <h2 class="widget-title text-uppercase">
                    Latest TWeeTs
                </h2>
                <div class="single-tweet">
                    <p>Check our new theme 'kotha - Personal WordPress Blog Theme' on #themeforest #Envato
                        #WordPress <br>
                        <a href="https://t.co/kN5OPEuPzx">https://t.co/kN5OPEuPzx</a></p>
                    <h4><i class="fa fa-twitter"></i>Tweeted on 17 hours ago</h4>
                </div>
                <div class="single-tweet">
                    <p>Check our new theme 'kotha - Personal WordPress Blog Theme' on #themeforest #Envato
                        #WordPress
                        <br>
                        <a href="https://t.co/kN5OPEuPzx">https://t.co/kN5OPEuPzx</a></p>
                    <h4><i class="fa fa-twitter"></i>Tweeted on 17 hours ago</h4>
                </div>
            </div>

            <div class="footer-widget testimonial-widget">
                <h2 class="widget-title text-uppercase">Testimonials</h2>
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!--Indicator-->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class=""></li>
                        <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="item">
                            <div class="single-review">
                                <div class="review-text">
                                    <p>Lorem ipsum dolor sit amet, conssadipscing elitr, sed diam nonumy eirmod
                                        tempvidunt ut labore et dolore magna aliquyam erat,sed diam voluptua. At
                                        vero eos et accusam justo duo dolores et ea rebum.gubergren no sea takimata
                                        magna aliquyam eratma</p>
                                </div>
                                <div class="author-id">
                                    <img src="/assets/images/author.jpg" alt="">
                                    <div class="author-text">
                                        <h4>John Doe</h4>
                                        <h4>CEO, Apple Inc.</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item active">
                            <div class="single-review">
                                <div class="review-text">
                                    <p>Lorem ipsum dolor sit amet, conssadipscing elitr, sed diam nonumy eirmod
                                        tempvidunt ut labore et dolore magna aliquyam erat,sed diam voluptua. At
                                        vero eos et accusam justo duo dolores et ea rebum.gubergren no sea takimata
                                        magna aliquyam eratma</p>
                                </div>
                                <div class="author-id">
                                    <img src="/assets/images/autho-1r.jpg" alt="">
                                    <div class="author-text">
                                        <h4>Robert Arri</h4>
                                        <h4>HRM, Microsoft Inc.</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="single-review">
                                <div class="review-text">
                                    <p>Lorem ipsum dolor sit amet, conssadipscing elitr, sed diam nonumy eirmod
                                        tempvidunt ut labore et dolore magna aliquyam erat,sed diam voluptua. At
                                        vero eos et accusam justo duo dolores et ea rebum.gubergren no sea takimata
                                        magna aliquyam eratma</p>
                                </div>
                                <div class="author-id">
                                    <img src="/assets/images/author.png" alt="">

                                    <div class="author-text">
                                        <h4>Brown Fish</h4>
                                        <h4>CEO, Bangari Inc.</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid text-center ft-copyright">
        <p>&copy; 2018 <a href="">{{ .Site.Params.Author }} </a> - Hecho con <i class="fa fa-heart"></i> por <a
            href="{{ .Site.Params.MakerUrl }}">{{ .Site.Params.Maker }}</a></p>
    </div>
</footer>
<div class="scroll-up">
    <a href="#"><i class="fa fa-angle-up"></i></a>
</div>

<!--//Script//-->
<script src="/assets/js/jquery-1.12.4.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/slick.min.js"></script>
<script src="/assets/js/main.js"></script>
</body>
</html>